<nav class="navBar">
    <div class="nav-container1">
        <img src="https://logo-download.com/wp-content/data/images/png/Quora-logo.png" alt="This is a Quora Logo"
            class="nav-logo">
    </div>

    <div class="nav-container2">
        <a href="/profile" class="nav-links">My Profile</a>
        <a href="/posts/addpost" class="nav-links">Add Post</a>
        <a href="/updatepost" class="nav-links">Update Post</a>
        <a href="/deletepost" class="nav-links">Delete Post</a>
    </div>
</nav>