<nav class="navBar">
    <div class="nav-container1">
        <img src="https://logo-download.com/wp-content/data/images/png/Quora-logo.png" alt="This is a Quora Logo"
            class="nav-logo">
    </div>

    <div class="nav-container2">
        <a href="/profile" class="nav-links"><img  class="navlogo-2" src="https://img.freepik.com/free-icon/user_318-159711.jpg?w=2000" alt="=This is profile logo"></a>
        <a href="/posts/addpost" class="nav-links"><img  class="navlogo-21" src="https://thenounproject.com/api/private/icons/3541222/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" alt="This is Add Post Logo"></a>
        <a href="/posts/updatepost" class="nav-links"><img class="navlogo-2" src="https://icon-library.com/images/articles-icon-png/articles-icon-png-10.jpg" alt="This is update logo"></a>
        <a href="/posts/deletepost" class="nav-links"><img class="navlogo-2" src="https://cdn2.iconfinder.com/data/icons/file-and-folder-27/64/trash-bin-delete-file-512.png" alt="This is delete logo"></a>
    </div>

    <img  class="another-navimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ__pVyM_wU85Bmy30Rk3hZZE6id_7onLCYCVGycPyhQhbnjn4N-gBYq2vZEkMU_qShS0k&usqp=CAU" alt="">
</nav>