<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/navbar.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<body>

    {{> navbar}}

    <div class="allposts">
        {{#each data as |d|}}
        <div>
        <div>{{d.title}}</div>
        <div>{{d.description}}</div>
        <div><img src="{{d.imageUrl}}" alt="This is data image"></div>

        <button type="submit" class="btn">Delete</button>
        </div>
        {{/each}}
    </div>
    <script src="../js/script.js"></script>
</body>

</html>