<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/navbar.css">
</head>

<body>

    {{> navbar}}

    <h1>Welcome {{name}} to Quora</h1>

    <div class="allposts">
        {{#each data as |d|}}
        <div>
            <div>{{d.title}}</div>
            <div>{{d.description}}</div>
            <div><img src="{{d.imageUrl}}" alt="This is data image"></div>

            <form action="/posts/addcomment" method="POST">
                <input type="text" placeholder="Enter New Comment" name="comment">
                <button type="submit">Add Comment</button>
            </form>

            <div class="commentList">

            </div>
        </div>
        {{/each}}
    </div>

</body>

</html>