<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/navbar.css">
</head>

<body>

    {{> navbar}}

    <h1>Welcome {{name}} to Quora</h1>

    <div class="allposts">
        {{#each data as |d|}}
        <li>
        <li>{{d.title}}</li>
        <li>{{d.description}}</li>
        <li><img src="{{d.imageUrl}}" alt="This is data image"></li>
        </li>
        {{/each}}
    </div>

</body>

</html>