* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(235, 235, 235);
}

.addform {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50%;
    width: 50%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 400px;
    width: 100%;
}