* {
    margin: 0px;
    padding: 0px;
}

.nav-container1 {
    border: 1px solid black;
}

.nav-container2 {
    border: 1px solid black;
    display: flex;
    align-items: center;
    width: 70%;
}

.navBar {
    display: flex;
    justify-content: space-around;
    /* width: 500px; */
    border: 1px solid black;
    height: 45px;
    margin: auto;
    width: 80%;
}

.nav-links {
    margin-right: 20px;
    /* margin-top: 35px; */
}

.nav-logo {
    width: 80px;
    height: 45px;
}