* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(235, 235, 235);
}

h1 {
    text-align: center;
}

.postContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.singlePost {
    border: 1px solid black;
}