* {
    margin: 0px;
    padding: 0px;
    background-image: url('//qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 60px;
    width: 200px;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
    display: inline-block;
    /* margin-left: 180px; */
    margin-left: 40px;
    /* margin: auto; */
    /* border: 1px solid black; */
}

.container {
    height: 330px;
    width: 50%;
    height: 400px;
    margin: 40px auto;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.username, .password, .nameLabel, .passwordLabel, .btn, form {
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
}

h1 {
    text-align: center;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
    font-family: sans-serif;
    /* color: red; */
    margin-right: 70px;
}

.container2, .container1 {
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
}

.nameLabel, .passwordLabel, .username, .password, .btn {
    font-size: large;
    font-family: sans-serif;
}

.container2 {
    margin-right: 120px;
    /* border-left: 1px dotted bla; */
}

.btn, .username, .password {
    border-radius: 10px;
    padding: 5px;
}

.btn {
    color: red;
}

.nameLabel, .passwordLabel {
    color: darkturquoise;
}

.vl {
    border-left: 6px solid lightsalmon;
    height: 70%;
}