* {
    margin: 0px;
    padding: 0px;
    background-image: url('//qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png');
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 330px;
    width: 500px;
    margin: 40px auto;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
    /* display: flex; */
    /* justify-content: center; */
}

h1 {
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
    text-align: center;
    font-size: small;
    /* border: 1px solid black; */
}

.img {
    height: 60px;
    width: 120px;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
    display: inline-block;
    margin-left: 180px;
    /* border: 1px solid black; */
}

.container-2 {
    /* border: 1px solid black; */
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
    margin-top: 40px;
}

.container-3, .links {
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
    text-align: center;
}


.container3-h1 {
    text-align: center;
    font-size: larger;
    margin-top: 30px;
}

.loginLink, .signupLink, .adminLink {
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
}

.links {
    margin-top: 30px;
}